<p id="notice"><%= notice %></p>

<%= radio_button_tag 'receive_updates', 'no', true %> All tasks
<%= radio_button_tag 'receive_updates', 'no', false %> Only active


<h2>Your tasks</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">
        <span class="pt-1 form-checked-content">Is done
            </span></th>
      <th scope="col">Edit</th>
      <th scope="col">Destroy</th>
    </tr>
    </thead>

    <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.deadline %></td>
        <td>
          <% if task.isDone? %>
<!--            <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked style="font-size: 1.375em;">-->
            <span class="pt-1 form-checked-content">
          </span>
          <% else %>
<!--            <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">-->
            <span class="pt-1 form-checked-content">
            </span>
          <% end %>
        </td>
        <td>  <%= link_to 'Edit', edit_task_path(task) %>          </td>
        <td>  <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<span class="btn btn-outline-primary ">
<%= link_to 'Add new Task', new_task_path %>
</span>

